pkgbase = sotto-bin
	pkgdesc = Dictation and voice development coordinator
	pkgver = 0.1.34
	pkgrel = 3
	url = https://github.com/millZach/Sotto-releases
	arch = x86_64
	license = MIT
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = dbus
	depends = expat
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libcups
	depends = libnotify
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	depends = systemd-libs
	depends = xdg-utils
	depends = wl-clipboard
	depends = libsecret
	optdepends = gnome-keyring: unlock and save credentials through Secret Service
	provides = sotto
	conflicts = sotto
	options = !strip
	source = Sotto-0.1.34-linux-x64.tar.gz::https://github.com/millZach/Sotto-releases/releases/download/v0.1.34/Sotto-0.1.34-linux-x64.tar.gz
	source = sotto
	source = sotto.desktop
	source = bindings.lua
	source = install.sh
	source = sotto-48.png
	source = sotto-128.png
	source = sotto-256.png
	sha256sums = d4da7629c4b400cd03d468a43ec32130dcb5487e39be6183f0bb94d55ecb7cce
	sha256sums = b6c787d65d76cb6d3b249e237361b5991d70a96e762f8893c96cd6d567e70e86
	sha256sums = 989830b03a273391c321e57d3cc599b7f7f4ab2c382a88cf917c23ea3a8ee891
	sha256sums = 206490341a40be0fa88ca4b1cc29082e2d3f4d618c7ad7443d16bb283fdb512b
	sha256sums = 8b01049ac54c6d02301a181b939ff994c009583c36e29d745f9c5ae6cf9f94ed
	sha256sums = 2c3f081fbb8de1d668efc065d8e1dd43b37a290062b985db237a6b4a6d56daad
	sha256sums = 598060d14b5155dba4587679e768571ecdc30f15072ac7ab4d6dc1e074f27256
	sha256sums = 0f8c2997a268265291192476d8b97a19bcdd125ed6d6944d1ddf7a4292baa645

pkgname = sotto-bin
